[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Vendor/SDL_ttf"]
	path = Vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm
